{% capture footer_contents %}
  &copy; Copyright {{ site.time | date: '%Y' }}
  {{ site.first_name }}
  {{ site.middle_name }}
  {{ site.last_name }}. {{ site.footer_text }}
  {% if site.impressum_path %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
  {% endif %}
  {% if site.last_updated %}
    Last updated: {{ 'now' | date: '%B %d, %Y' }}.
  {% endif %}
{% endcapture %}

{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    <div class="container mt-0">
      {{ footer_contents }}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}

    <div class="container">
      {{ footer_contents }}
      <a href="https://clustrmaps.com/site/1c7v5"  title="ClustrMaps"><img src="//www.clustrmaps.com/map_v2.png?d=j8q3PDoc3CfqrzkX4XQf9qcTCthcy4cYvsk7EwusI54&cl=ffffff" style="width:0;height:0;opacity:0;position:absolute;" alt="invisible tracker" /></a>
    </div>
  </footer>
{% endif %}
